<!DOCTYPE html>
<html ng-app="">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src = "js/jquery-2.1.1.js"></script>
<script type="text/javascript">
	function MenuController($scope){
			$scope.mainShow=true;
 	$scope.toggleMenu = function($where){
			if($where == 'main'){
				$scope.mainShow=true;
				$scope.squareShow=false;
				$scope.roomShow=false;
				$scope.settingShow=false;
			}else if($where == 'square'){
				$scope.mainShow=false;
				$scope.roomShow=false;
				$scope.squareShow=true;
				$scope.settingShow=false;
			}else if($where =='room'){
				$scope.mainShow=false;
				$scope.roomShow=true;
				$scope.squareShow=false;
				$scope.settingShow=false;
			}else{
				$scope.mainShow=false;
				$scope.roomShow=false;
				$scope.squareShow=false;
				$scope.settingShow=true;
			}

		}
	}
</script>
<title>三只小猪</title></head>
<body>
<div id="page" ng-controller="MenuController">
	<div id="nav">
		<ul class="nav nav-list">
			<div class = "profile">
				<img class="profile" src="images/profile.png" />
			</div>
			<li><a href="#" ng-click="toggleMenu('main')">大厅</a></li>
			<li><a href="#" ng-click="toggleMenu('square')">广场</a></li>
			<li><a href="#" ng-click="toggleMenu('setting')">设置</a></li>
		</ul>
	</div><!-- /nav-->
	<div id="content">
		<div ng-include="'main.html'" ng-show='mainShow'></div>
		<div ng-include="'square.html'" ng-show="squareShow"></div>
		<div ng-include="'room.html'" ng-show="roomShow"></div>
		<div ng-include="'setting.html'" ng-show="settingShow"></div>
	</div>
	<script src= "js/angular.min.js"></script>
</div><!-- /page -->
</body>
</html>