<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="js/angular.min.js"></script>
<script type="text/javascript">
	function MenuController($scope){
			$scope.mainShow=true;
 	$scope.toggleMenu = function($where){
			if($where == 'main'){
				$scope.mainShow=true;
				$scope.squareShow=false;
				$scope.roomShow=false;
				var div=$('#content');
			}else if($where == 'square'){
				$scope.mainShow=false;
				$scope.roomShow=false;
				$scope.squareShow=true;
			}else{

			}

		}
	}
</script>
<title>三只小猪</title></head>
<body>
    <div id="nav">	
		<ul class="nav nav-list">
			<div class = "profile">
			<img class="profile" src="images/profile.png" /></div>
			<li class="active"><a href="index.html">大厅</a></li>
			<li><a href="square.html">广场</a></li>
			<li><a href="#">设置</a></li>
		</ul>
	</div>
	<div id="content" ng-app="" ng-controller="contentController">

	<script type="text/javascript">
		function contentController($scope, $http){
			$http.get("/toGetAllRoom")
  				.success(function(response) {$scope.roomList = response;});
		}
	</script>>

		<h1>大厅<button type="button" class="btn btn-xs">建立新房间</button></h1>

		<div class="rooms">
		<div class="btn-group-vertical">
			<button type="button" class="btn" onclick="location.href='room.html'" ng-repeat="room in roomList">
				<div class="room">
				<h5>{{ room.roomName }}</h5><h6>{{ room.roomId }}</h6>
				<p>{{ room.roomDescription }}</p>
				</div>
			</button>

		</div>
		</div>
		<!--/end rooms -->
	</div>
</body>
</html>
