
		<h1>登录</h1><!--<button type="button" class="btn btn-xs">打开文件</button>
		<button type="button" class="btn btn-xs">保存文件</button>
		<button type="button" class="btn btn-xs">画笔</button></h1>

		<div class="canvas">
		</div>
		<!--/end rooms -->
		<form role="form">
			<div class="login">
			<label for="username">用户名：</label>
			<input type="text" class="form-control" id="username" placeholder="Enter username"/>
			<label for="psd">密码：</label>
			<input type="password" class="form-control" id="psd" placeholder="Enter Password"/>
			<button type="submit" class=" btn">登录</button>
			<label>
    		  <input type="checkbox"> Remember me </label>
			 
			<p>没有账号？这里<a href="#" ng-click="toggleMenu('register')">注册</a></p>
			</div>

		</form>