
		<h1>资源查看<label>资源名称xxx</label></h1>
		<div class="lookFile">
		<h5><label>用户名xxx</label>2014-07-31上传</h5>
		<p>资源描述啦啦啦xxxxxxx</p>

			<div class="fileInfo">
			<b>下载次数：</b>1 
			<b>资源类型：</b>工具类 
			<b>资源大小:</b>7KB 

			<p>关键字 关键字 关键字</p>

			<button class="btn">下载</button><button class="btn">举报</button>
			</div>

		</div>
	<!--	<div id="uploadFilePage" class="login">
					<input type="file" name="upload" id="exampleInputFile" ng-model="file" multiple="multiple">
					<label>资源名称：</label>
					<input type="text" class="form-control" name="filename" ng-model="filename" placeholder="Enter filename"/>
					<label>资源类型：</label>
					<select name="type"  ng-model="type">
						<option value="1">课程资源</option>
						<option value="2">文档类</option>
						<option value="3">代码类</option>
						<option value="4">工具类</option>
					</select>

					<label>关键词：</label>
					<input type="text" class="form-control" name="keyword" ng-model="keyword" placeholder="Enter keywords" />
					
					<label>资源描述：</label>
					<p><textarea name="describe" rows="5" cols="35" ng-model="describe"></textarea></p>

				<button type="submit" class=" btn" ng-click="subFile()">提交</button>
				</div>
			</form>
			<script type="text/javascript">
				function uploadController($scope, $http){
					$scope.subFile = function(){
						session.html = 'square';
					}
				}
			</script>
		</div>-->