		<h1>大厅<button type="button" class="btn btn-xs" onclick="location.href='toCreateNewRoom'">建立新房间</button></h1>

		<div class="rooms" ng-app=""  ng-controller="roomController">
		<script type="text/javascript">
			function roomController($scope, $http){
				$http.get("/toGetAllRoom")
	  				.success(function(response) {$scope.roomList = response;});
			}
		</script>
		<div class="btn-group-vertical">

			<button type="button" class="btn" ng-click="toggleMenu('room')"  ng-repeat="room in roomList"> 
				<div class="room">
				<h5>{{ room.roomName }}</h5><h6>{{ room.roomId }}</h6>
				<p>{{ room.roomDescription }}</p>
				</div>
			</button>

		</div>
		</div>
		<!--/end rooms -->
