		<h1>大厅<button type="button" class="btn btn-xs">建立新房间</button></h1>

		<div class="rooms">
		<div class="btn-group-vertical">
			<button type="button" class="btn" ng-click="toggleMenu('room')">
				<div class="room">
				<h5>房间名：快来愉快地学习呀</h5><h6>房间编号：89757</h6>
				<p>写点啥好呢……不知道啊……协作学习中……</p>
				</div>
			</button>

			<button type="button" class="btn">
				<div class="room">
				<h5>房间名：快来愉快地学习呀</h5><h6>房间编号：89757</h6>
				<p>写点啥好呢……不知道啊……协作学习中……</p>
				</div>
			</button>

			<button type="button" class="btn">
				<div class="room">
				<h5>房间名：快来愉快地学习呀</h5><h6>房间编号：89757</h6>
				<p>写点啥好呢……不知道啊……协作学习中……</p>
				</div>
			</button>
		</div>
		</div>
		<!--/end rooms -->