<div  ng-controller="roomController">
		<h1>大厅

<!-- Button trigger modal -->
<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalForRoom">
	新建房间
</button>

<!-- Modal -->
<div class="modal fade" id="myModalForRoom" tabindex="-1" role="dialog" aria-labelledby="myModalLabelForRoom" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabelForRoom">新建房间</h4>
      </div>
      <div class="modal-body">
      	<input type="text" class="form-control" id="roomName" placeholder="输入房间名" ng-model="roomName"/>
      	
      	<input type="text" class="form-control" id="roomDescription" placeholder="请输入房间描述" ng-model="roomDescription"/>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" ng-click="toCreateNewRoom()" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

</h1>
			<div class="rooms">
			<script type="text/javascript">
				function roomController($scope, $http){
					$http.get("/toGetAllRoom")
		  				.success(function(response) {$scope.roomList = response;});


		  			$scope.toCreateNewRoom = function(){

		  				var peopleString = session.people;
		  				if( peopleString == null){
		  					$scope.toggleMenu('login');
		  				}
		  				else{
		  					//console.log(peopleString);
			  				var people = JSON.parse(peopleString);
			  				//console.log(people);

			  				$http.post("/toCreateNewRoom",{"roomName" : $scope.roomName, "roomDescription" : $scope.roomDescription, "peopleId" : people.peopleId})
			  					.success(function(response) {
			  						if(response != "fail"){
			  							$scope.roomList = response;

										var obj = {
											author:'System',
											type:'creatRoom',
											msg:'创建了一个房间'
										};
										alert("创建了一个房间");
										socket.emit("message",obj);
			  						}
			  						else{
			  							alert("创建房间失败");
			  						}
			  					return ;
			  				});

		  				}
		  				return ;
		  				
		  			}
				}
			</script>
			<div class="btn-group-vertical">

				<button type="button" class="btn" ng-click="toggleMenu('room')"  ng-repeat="room in roomList"> 
					<div class="room">
					<h5>{{ room.roomName }}</h5><h6>{{ room.roomId }}</h6>
					<p>{{ room.roomDescription }}</p>
					</div>
				</button>

			</div>
			</div>
		</div>
		</div>
		<!--/end rooms -->
