
		<h1>注册</h1><!--<button type="button" class="btn btn-xs">打开文件</button>
		<button type="button" class="btn btn-xs">保存文件</button>
		<button type="button" class="btn btn-xs">画笔</button></h1>

		<div class="canvas">
		</div>
		<!--/end rooms -->
		<form role="form">
			<div class="login">
			<label for="username">用户名：</label>
			<input type="text" class="form-control" id="username" placeholder="Enter username"/>
			<label for="psd">密码：</label>
			<input type="password" class="form-control" id="psd" placeholder="Enter Password"/>
			<label for="psd">确认密码：</label>
			<input type="password" class="form-control" id="re-psd" placeholder="Confirm Password"/>
			<label for="name">姓名：</label>
			<input type="text" class="form-control" id="name" placeholder="Enter name"/>
			<label for="age">年龄：</label>
			<input type="text" class="form-control" id="age" placeholder="Confirm age"/>
			<label for="sex">性别：</label>
			<div class="input-group" id="sexChoose">
			<input type="radio" name="sex">男</input><input type="radio" name="sex">女</input></div>
			<label for="email">邮箱：</label>
			<input type="text" class="form-control" id="age" placeholder="xxx@xxx.xxx"/>
			<button type="button" class=" btn">注册</button>
			
			</div>

		</form>