
		<h1>房间



<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
 打开在线文件
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">在线文件选择</h4>
       	<input type="text" class="form-control" id="search" placeholder="输入关键字查找/凭ID号查找"/>
      </div>
      <div class="modal-body">
      	 <div class="classify">
      	 	<ul>
      	 	<li><a href="">分类</a></li>
      	 	<li><a href="">编译原理</a></li>
      	 	<li><a href="">计算机网络</a></li>
      	 	</ul>
      	 </div>
      	 <div class="searchRes">
      	 	<ul>
      	 	<li><label><input type="radio" name="chosen">编译原理PDF</label></li>
      	 	<li><label><input type="radio" name="chosen">编译原理PDF</label></li>
      	 	<li><label><input type="radio" name="chosen">编译原理PDF</label></li>
      	 	<li><label><input type="radio" name="chosen">编译原理PDF</label></li>
      	 	<li><label><input type="radio" name="chosen">编译原理PDF</label></li>
      	 	<li><label><input type="radio" name="chosen">编译原理PDF</label></li>
      	 	<li><label><input type="radio" name="chosen">编译原理PDF</label></li>
      	 	<li><label><input type="radio" name="chosen">编译原理PDF</label></li>
      	 	<li><label><input type="radio" name="chosen">编译原理PDF</label></li>

      	 	<!--
      	 	<li><a href="">编译原理PDF</a></li>
      	 	<li><a href="">计算机网络答案</a></li>
      	 	<li><a href="">计算机网络书本</a></li>
      	 	<li><a href="">编译原理PDF</a></li>
      	 	<li><a href="">计算机网络答案</a></li>
      	 	<li><a href="">计算机网络书本</a></li>
      	 	<li><a href="">编译原理PDF</a></li>
      	 	<li><a href="">计算机网络答案</a></li>
      	 	<li><a href="">计算机网络书本</a></li>
      	 	<li><a href="">编译原理PDF</a></li>
      	 	<li><a href="">计算机网络答案</a></li>
      	 	<li><a href="">计算机网络书本</a></li>-->
      	 	</ul>

      	 </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">选择</button>
      </div>
    </div>
  </div>
</div>




		<button type="button" class="btn btn-xs" type="file">打开文件</button>
		<button type="button" class="btn btn-xs">保存文件</button>
		<button type="button" class="btn btn-xs">画笔</button>
		<form action="/toUploadFile" enctype="multipart/form-data" method="post">
   		 <input type="file" name="upload" id="exampleInputFile" multiple="multiple">
		<input type="submit" value="Upload file" />
		</form>
		</h1>

		<div class="canvas">
		</div>
		<!--/end rooms -->
