
		<h1>设置</h1>
		<form role="form">
			<div class="login">
			<label for="username">用户名：</label>
			<input type="text" class="form-control" id="username" placeholder="Enter username" />
			<label for="psd">旧密码：</label>
			<input type="password" class="form-control" id="psd" placeholder="Enter Password"/>
			<label for="new-psd">新密码</label>
			<input type="password" class="form-control" id="new-psd" placeholder="Enter Password"/>
			<label for="re-psd">确认新密码：</label>
			<input type="password" class="form-control" id="re-psd" placeholder="Confirm Password"/>
			<label for="name">姓名：</label>
			<input type="text" class="form-control" id="name" placeholder="Enter name"/>
			<label for="age">年龄：</label>
			<input type="text" class="form-control" id="age" placeholder="Enter age"/>
			<label for="sex">性别：</label>
			<div class="input-group" id="sexChoose">
			<input type="radio" name="sex">男</input><input type="radio" name="sex">女</input></div>
			<label for="email">邮箱：</label>
			<input type="text" class="form-control" id="age" placeholder="xxx@xxx.xxx"/>
			<label for="qq">qq：</label>
			<input type="text" class="form-control" id="qq" placeholder="xxxxxx"/>
			<button type="button" class=" btn">确认修改</button>
			</div>



		</form>