
	<div ng-controller="squareController">
	<script>
		function squareController($scope, $http){
			$http.get("/toGetAllFile")
		  				.success(function(response) {

		  					$scope.fileList = [];
		  					var temp = [];
		  					for(var i in response){
		  						temp.push(response[i]);
		  						console.log("temp add " + i);
		  						if( (i+1) % 3 == 0){
		  							console.log("fileList add " + i)
		  							$scope.fileList.push(temp);
		  							temp = [];
		  							console.log(temp);
		  							console.log();
		  						}
		  					}
		  					$scope.fileList.push(temp);
		  					console.log(temp);
		  					console.log($scope.fileList);
		  					
		  				});

		}

	</script>

		<h1>广场<button type="button" class="btn btn-xs" >
		<a href="#" ng-click="toggleMenu('uploadFile')">上传文件</a></button></h1>

		<div id="files" class="container-fluid">
			<div class="row" ng-repeat=" rowList in fileList ">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-repeat=" file in rowList ">
					<div class="file">
					<img src="images/img.png" />
					<h1>{{ file.fileName }}</h1><p>@{{ file.peopleName}}</p>
					</div>	
				</div>
			</div>
		</div>
	</div>
		<!--/end files -->