
		<h1>广场<button type="button" class="btn btn-xs">建立新房间</button></h1>

		<div id="files" class="container-fluid">
				<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="file">
							<img src="images/img.png" />
							<h1>编译原理</h1><p>@小冤家干嘛</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
							<div class="file"><img src="images/img.png" />
							<h1>编译原理</h1><p>@小冤家干嘛</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
							<div class="file"><img src="images/img.png" />
							<h1>编译原理</h1><p>@小冤家干嘛</p>
							</div>
						</div>
				</div>
				<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<div class="file">
							<img src="images/img.png" />
							<h1>编译原理</h1><p>@小冤家干嘛</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
							<div class="file"><img src="images/img.png" />
							<h1>编译原理</h1><p>@小冤家干嘛</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
							<div class="file"><img src="images/img.png" />
							<h1>编译原理</h1><p>@小冤家干嘛</p>
							</div>
						</div>
				</div>
		</div>
		</div>
		<!--/end files -->