body{background-color:#1e2025;overflow-x: hidden;}
#nav{background-color:#363840;width: 180px;height:100%;text-align: center;position: fixed;top: 0px;}
#nav{border-bottom-width:7px;border-bottom-color:#00aeef;border-bottom-style: solid; }
#content h1{font-family:'黑体';font-size: 35px;color: #919191;font-weight: bold;padding-top: 70px;margin-left: 300px}
h1>.btn{font-size: 13px;font-family: '宋体';margin-left: 15px;background-color: #00aeef;color:#fff;}
h1>input{font-size: 13px;font-family: '宋体';color:#fff;}
.nav>li>a{color:gray;}
.login{position: absolute;padding-top:20px;margin-left: 400px;}
.login>label{color: #fff;}
.login>button{background-color: #00aeef;display: block;width: 200px;margin-top: 20px;}
.login>p{color:#919191;text-indent: 30px;}
.nav>li>a:focus,.nav>li>a:hover,.nav>li>a:visited{background-color: #1e2025;
			color:#00aeef;
			border-left-width: 7px;
			border-left-color:#00aeef;
			border-left-style: solid;
			-webkit-transition-duration:1s;
			-moz-transition-duration:1s;
			-ms-transition-duration:1s;
			-o-transition-duration:1s;}
.profile{padding-top: 40px;padding-bottom: 50px;}
.profile a>img{padding-bottom:10px;display: block;margin-left:50px;max-width: 80px;}
.profile label{color:gray;font-weight: normal;font-size: 10px;}
.rooms{position: absolute;margin-left: 300px;padding-top: 30px}
.btn>.room>h5,h6{color: #969696;font-size: 12px;margin-right: 20px;margin-left: 20px;line-height: 0px;}
.btn>.room>h5{text-align: left;}
.btn>.room>h6{text-align: right;margin-left: 500px;}
.btn>.room>p{color: #fff;text-align: left;margin-left: 20px;}
.btn-group-vertical>.btn:focus,.btn:hover{background-color: #5a5a5a;
			-webkit-transition-duration:1s;
			-moz-transition-duration:1s;
			-ms-transition-duration:1s;
			-o-transition-duration:1s;}
.btn{background-color: #363840;border-color: #1e2025}
.canvas{display:block;background-color: gray;padding-top: 200px;margin-left: 300px;width: 700px;height:500px;border-radius: 10px;}
#files{padding-top:50px;margin-left: 330px;}
.file{width: 1000px;}
#files > div > div> div > h1{padding-left: 0;margin-top: 0;padding-top: 0;margin-top:10px;font-family:'宋体';margin-left:60px;font-size: 15px;color:#fff;font-weight: normal;text-align: left;}
#files > div > div> div > p{font-size: 13px;color:#00aeef;margin-left: 50px;}
#searchForm{position:absolute;padding-left: 1020px;padding-top: 0;margin-top: 0;}
#searchForm>.btn{background-color: #00aeef;border-color: #1e2025;display: inline;}
select{display: block;margin-top: 20px;width: 200px;border-radius: 3px;}
#sexChoose{color: #fff;padding-left: 50px;letter-spacing: 20px}
.classify>ul li{font-size: 15px;font-weight: normal;list-style: none;font-family:'宋体'}
.classify{position:absolute;width: 200px;}
.searchRes{position: absolute;margin-left: 140px;}
.searchRes>ul{height: 105px;overflow-y: scroll;padding-right: 180px}
.searchRes>ul li{font-size: 16px;font-weight: normal;list-style: none;width: 200px;font-family:'宋体'}
.modal-body{height: 120px;}
.modal-footer>.btn,h4#myModalLabel,input#search{font-family: '宋体'}
.modal-body input{font-family: '宋体';margin-top: 10px;}
.modal-header h4{font-family: '宋体';font-size: 15px}
#exampleInputFile{font-size: 13px;font-family: '宋体';margin-left: 15px;color:#fff;}
.openFile{position: absolute;margin-left: 750px;}
#uploadFile{background-color: #00aeef;color:#fff;margin-left: 15px;}
#uploadFile:focus,#uploadFile:hover{background-color: gray;color:#000;			
			-webkit-transition-duration:1s;
			-moz-transition-duration:1s;
			-ms-transition-duration:1s;
			-o-transition-duration:1s;}
#uploadFile label{font-size: 12px;font-weight: 0;font-family: '宋体';}
#uploadFilePage input,#uploadFilePage select{height: 25px;width: 200px;margin-left: 20px;}
#uploadFilePage button{margin-left: 50px;color: #fff}
#uploadFilePage button:focus,#uploadFilePage button:hover{color:#000;}
.btn>a{text-decoration: none;color: #fff;}
.btn>a:hover,.btn>a:focus{color:#000;}
#uploadFilePage label{margin-top: 15px;margin-left: 20px;}
#uploadFilePage select{padding-top: 0;margin-top: 0}
h1>label{font-size: 20px}
.lookFile{position: absolute;margin-left: 300px;color: #fff;}
.file button{background-color: red;}
#content > div:nth-child(8) > div > div > button:nth-child(6){margin-left: 20px;}
#content > div> div > div > button{background-color: #00aeef; border-color: #fff;width: 150px;color:#fff;}
.fileInfo{padding:20px 20px 20px 20px;background-color: #fff;box-shadow: 0px 15px 15px #111;color: #000;border-radius: 5px;}
#content > div> div > div > button:hover{background-color: gray;color:#000;			
			-webkit-transition-duration:1s;
			-moz-transition-duration:1s;
			-ms-transition-duration:1s;
			-o-transition-duration:1s;}